// MUST CONFIGURE THE USER ARRAY AND GOOGLE MAPS API KEY.
// YOU CAN GET A KEY HERE: https://developers.google.com/maps/documentation/javascript/get-api-key
var userInfo = {
	users: ["username"],
	userZoom: true,
	zoom: 16,
	userFollow: true,
	gMapsAPIKey: "YOUR_API_KEY_HERE"
};